.contact {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
    linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.1)
    ),
    url('../img/model-2.jpg') center top;
    background-size: cover;

    

    h2 {
        font-size: 3rem;
        margin-bottom: 4rem;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
    }

    i {
        margin-bottom: 1rem;
    }

    .social-icons {
        position: initial;
        margin-top: 3rem;

    }


}